.bg-dark {
    background-color: #f8f9f9 !important;
}

.btn-theme02 {
    color: #fff;
    background-color: #ac92ec;
    border-color: #967adc;
}

.list-group-item {
    padding: 0.1rem 0.1rem;
    border: none;
}

.page-wrapper>.container-fluid {
    min-height: calc(95vh - 180px);
}